<!DOCTYPE html>
<html>
  <head>
    <title>Road classifier</title>
    <meta charset='utf-8' />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
  </head>
  <body>

    <style type='text/css'>
      #info {
          display: block;
          position: relative;
          margin: 0px auto;
          width: 50%;
          padding: 10px;
          border: none;
          border-radius: 3px;
          font-size: 12px;
          text-align: center;
          color: #222;
          background: #fff;
      }
  </style>
  <div id='map'></div>
  <pre id='info'></pre>
  <script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiamptYXRhIiwiYSI6ImNpa2tjaWJldDBhd3N1Y2o3ZzB1bjA4ZnoifQ.q0boaHuLEl9fYQEljH0Wsw';
  var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/mapbox/streets-v9',
      center: [-123.10, 44.05], // starting position
      zoom: 15 // starting zoom
  });
  
  map.on('mousemove', function (e) {
      document.getElementById('info').innerHTML =
          // e.point is the x, y coordinates of the mousemove event relative
          // to the top-left corner of the map
          JSON.stringify(e.point) + '<br />' +
          // e.lngLat is the longitude, latitude geographical position of the event
          JSON.stringify(e.lngLat);
  });

  map.on('mouseup', function (e) {
    document.getElementById('info').innerHTML =
          // e.point is the x, y coordinates of the mousemove event relative
          // to the top-left corner of the map
          '<b>Mouse up on:</b> ' + JSON.stringify(e.point) + '<br />' +
          // e.lngLat is the longitude, latitude geographical position of the event
          JSON.stringify(e.lngLat);
    this.onMouseUp()
  });

  </script>

    <div class="container">
      <h1>MNIST</h1>
      <div class="row">
        <div class="col-md-6">
          <p>draw a digit here!</p>
          <canvas id="main"></canvas>
          <p>
            <button id="clear" class="btn btn-default">clear</button>
          </p>
        </div>
        <div class="col-md-6">
          <p>input:</p>
          <canvas id="input" style="border:1px solid" width="140" height="140"></canvas>
          <hr>
          <p>output:</p>
          <table id="output" class="table">
            <tr>
              <th class="col-md-1"></th>
              <th class="col-md-2">Inception v3</th>
              <th class="col-md-2">Remix/OSM</th>
            </tr>
            <tr>
              <th>4</th>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>4n</th>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>5</th>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>7</th>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
