<!DOCTYPE html>
<html>
  <head>
    <title>Road classifier</title>
    <meta charset='utf-8' />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
  </head>
  <body>

    <style type='text/css'>
      #info {
          display: block;
          position: relative;
          margin: 0px auto;
          width: 50%;
          padding: 10px;
          border: none;
          border-radius: 3px;
          font-size: 12px;
          text-align: center;
          color: #222;
          background: #fff;
      }
      #output {
          display: block;
          position: relative;
          margin: 0px auto;
          padding: 10px;
          border: none;
          border-radius: 3px;
          font-size: 12px;
          text-align: center;
          color: #222;
          background: #fff;
      }
  </style>
  <div id='map'></div>
  <pre id='info'></pre>
  <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiamptYXRhIiwiYSI6ImNpa2tjaWJldDBhd3N1Y2o3ZzB1bjA4ZnoifQ.q0boaHuLEl9fYQEljH0Wsw';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v9',
            center: [-123.10, 44.05], // starting position
            zoom: 15 // starting zoom
        });

        map.on('mousemove', function (e) {
            document.getElementById('info').innerHTML =
                // e.point is the x, y coordinates of the mousemove event relative
                // to the top-left corner of the map
                JSON.stringify(e.point) + '<br />' +
                // e.lngLat is the longitude, latitude geographical position of the event
                JSON.stringify(e.lngLat);
        });

        map.on('mouseup', function (e) {
          document.getElementById('info').innerHTML =
                // e.point is the x, y coordinates of the mousemove event relative
                // to the top-left corner of the map
                '<b>Mouse up on:</b> ' + JSON.stringify(e.point) + '<br />' +
                // e.lngLat is the longitude, latitude geographical position of the event
                JSON.stringify(e.lngLat);
                $.ajax({
                      url: '/api/lanes',
                      method: 'GET',
                      contentType: 'application/json',
                      data: { lon: e.lngLat.lng, lat: e.lngLat.lat },
                      success: (data) => {
                          var ctx = document.getElementById('input').getContext("2d");

                          var image = new Image();
                          image.onload = function() {
                            ctx.drawImage(image, 0, 0);
                          };
                          image.src = data.results[0][0][1];

                          var new_tbody = document.createElement('tbody');
                          trow = document.createElement("tr");
                          tcell = document.createElement("td");
                  			  tcell.appendChild(document.createTextNode(""));
                  			  trow.appendChild(tcell);
                          for (var i = 0; i < data.results.length; i++) { // InceptionV3 + Remix/OSM
                              var max = 0;
                              var max_index = 0;

                              var label = data.results[i][0][0];
                              tcell = document.createElement("td");
                  			      tcell.appendChild(document.createTextNode(label));
                  			      trow.appendChild(tcell);
                          }
                          new_tbody.appendChild(trow);
                          $('#output tbody').replaceWith(new_tbody);
                          for (var i = 0; i < data.results.length; i++) { // InceptionV3 + Remix/OSM
                              for (var j = 1; j < data.results[i].length; j++) {
                                  var value = Math.round(data.results[i][j][1] * 1000);
                                  if (value > max) {
                                      max = value;
                                      max_index = j;
                                  }
                                  var label = data.results[i][j][0];
                                  var digits = String(value).length;
                                  for (var k = 0; k < 3 - digits; k++) {
                                      value = '0' + value;
                                  }
                                  var text = '0.' + value;
                                  if (value > 999) {
                                      text = '1.000';
                                  }
                                  trow = document.createElement("tr");
                                  tcell = document.createElement("td");
                        				  tcell.appendChild(document.createTextNode(label));
                        				  trow.appendChild(tcell);
                                  tcell = document.createElement("td");
                                  tcell.appendChild(document.createTextNode(text));
                        				  trow.appendChild(tcell);
                                  tcell = document.createElement("td");
                                  tcell.appendChild(document.createTextNode("TBD"));
	                        			  trow.appendChild(tcell);
                                  new_tbody.appendChild(trow);
                              }
                              $('#output tbody').replaceWith(new_tbody);
                              for (var j = 0; j < 10; j++) {
                                  if (j === max_index) {
                                      $('#output tr').eq(j).find('td').eq(i).addClass('success');
                                  } else {
                                      $('#output tr').eq(j).find('td').eq(i).removeClass('success');
                                  }
                                  }
                              }
                          }
                  });
        });

      </script>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <canvas id="input" style="border:1px solid" width="512" height="512"></canvas>
          <table id="output" class="table">
            <tr>
              <th class="col-md-1"></th>
              <th class="col-md-2">Inception v3</th>
              <th class="col-md-2">Remix/OSM</th>
            </tr>
            <tr>
              <th>4</th>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>4n</th>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>5</th>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>7</th>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
